
li{
    font-weight: bold ;
    text-align: left;
}

p{
   font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    margin: 100px;
    color:rgb(0, 0, 0);
}
.pageTitle{
    font-size: 60px;
    
}
:link{
    color:rgb(3, 67, 243)
}

img{
   height: 200px;
   width: 200px;
}

body{
    
   background-color: rgb(184, 174, 243) ;
   
    
}
h1{
    text-align: center;
}
h2{
    text-align: justify;
}

